.product{
    margin-left: 5px;
    padding: 5px;
    border: black dotted 1px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    transition: 0.5s;

    .product-name{
        padding: 3px;
    }

    .a2c{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &:hover{
        background: grey;
        cursor: pointer;
    }
}